* {
  margin: 0;
  padding: 0;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Shared styles */
.dark {
  color: #252432;
}

.dark-2 {
  color: #8987A1;
}

.dark-3 {
  color: #E95A08;
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: 50px;
  font-weight: bold;
}

.section-description {
  font-size: 20px;
  font-weight: 400;
  margin: 16px 230px 40px 230px;
}

.btn-primary {
  background-color: #FD6E0A;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 10px 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #de7b34;
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 150px;
  padding: 20px 10px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 40px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

.cart-icon {
  width: 25px;
  height: 23px;
}

span img {
  margin-right: 8px;
  vertical-align: middle;
}

/* Banner style */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 120px 150px 80px 150px;
}

.banner-greeting,
.banner-title {
  font-size: 65px;
  font-weight: bold;
}

.banner-description {
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  text-align: justify;
  width: 500px;
  height: 108px;
}

.banner-profile {
  vertical-align: middle;
}

main {
  margin: 120px 150px 80px 150px;
}


/* plant styles */
.plant-content {
  align-items: center;
}

.plant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.plant-title {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 15px 0px;
}

.plant-description {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}